body {
    background-color: rgb(233, 232, 232);
}

.calendar {
    width: 800px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
}

#next {
    width: 10%;
    height: 50px;
    font-size: 25px;
    font-style: bold;
    background-color: rgb(194, 223, 194);
}

#prev {
    width: 10%;
    height: 50px;
    font-size: 25px;
    font-style: bold;
    background-color: rgb(194, 223, 194);
}

.weekdays, .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.weekdays div {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.days > div {
    border: 2px solid rgb(51, 146, 51);
    background-color: rgb(194, 223, 194);
    min-height: 80px;
    max-height: 120px;
    overflow-y: auto;
    margin: 1px;
}

.dateNum {
    font-weight: bold;
    font-size: 15px;
    margin-right: 4px;
}

.pastDateNum {
    font-weight: bold;
    font-size: 15px;
    margin-right: 4px;
}

.task {
    text-align: left;
    border: 2px solid rgb(106, 12, 7);
    background-color: rgb(212, 183, 180);
    font-size: 12px;
    max-height: 20%;
    padding: 2px;
    display: block;
    margin: 1px;
}

.p {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toggle-List {
    width: 150px;
    height: 50px;
    font-style: bold;
    background-color: rgb(194, 223, 194);
}